*.mtx
*.crc
*.csv
**/temp
**/external
**.idea
**.Trash-1000
*.pyc
*.RData
*.Rhistory
**/build
_*
derby.log
**/metastore_db
nohup.out
**/scratch_space
**/project/project
**/project/target
**/target
**.vscode
**/temp
**/external
**/project
**/target
**/.vscode
*.csv
*.mtx
*.crc
_load.yaml
